body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SIDEBAR */

.sidebar {
  background-color: rgb(236, 234, 234);
  min-height: 100vh;
}

.sidebar {
  border-bottom: 1px solid black;
}

.sidebar h3 {
  margin-bottom: 1rem;
}

.sidebar a {
  color: #000;
}

.sidebar a:hover {
  color: #000;
}